{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'job:adaugare'  %}">Adaugare joburi</a>
    <table class="table">
    <thead>
    <tr>
        <th>Index</th>
        <th>Type</th>
        <th>Title</th>
        <th>Description</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in job_list %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{% if item.active %}
            Activ
        {% else %}
            Inactiv
        {% endif %}</td>
            <td>
                <a class="btn btn-succes" href="{% url 'job:modificare' item.id %}">Editare</a>
                {% if item.active %}
                <a class="btn btn-warning" href="{% url 'job:stergere' item.id %}">Stergere</a>
                {% else %}
                <a class="btn btn-warning" href="{% url 'job:activare' item.id %}">Activare</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}